.input{
    width: 50%;
    border-radius: 4px;
    height: 2.5rem;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 600;
    border: none;
}
h2{
    font-size: 2rem;
    color: rgb(252, 248, 251);
    
}
h3{
    color: black;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
}
